node_modules
packages\tsconfig-vite\node_modules\@types
apps\backend\node_modules
apps\frontend\node_modules

# Environment files
.env

# Supabase directories
apps/backend/supabase/.temp/
apps/backend/supabase/.branches/

# Removed docs

/docs/bundle/*.html
*.map

# Ignore TypeScript build info files
*.tsbuildinfo
# Ignore temporary tsconfig
tsconfig.tmp
apps/frontend/dist-types/

# Ignore pnpm script and logs
pnpm*
